@using TPAnime.Core;
@model IEnumerable<Autor>
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/listas.css" asp-append-version="true" />
    <title>Autores</title>
</head>

<body>
    <h2><b>Autores</b></h2>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="titulos">
                <th class="nombret" scope="col"><b>Nombres</b></th>
                <th class="nombret" scope="col"><b>Apellidos</b></th>
                <th class="nombret" scope="col"><b>Accion</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Autor autor in Model)
            {
                <tr>
                    <td>
                        <a class="nombreLink" asp-controller="Autor" asp-action="Index" asp-route-id="@autor.Id"><b class="name">@autor.Nombre</b></a>
                    </td>
                    <td>
                        <a class="nombreLink" asp-controller="Autor" asp-action="Index" asp-route-id="@autor.Id"><b class="name">@autor.Apellido</b></a>
                    </td>
                    <td>
                        <form asp-controller="Autor" asp-action="EliminarAutor" method="post">
                            <input type="hidden" asp-for="@autor.Id" />
                            <button type="submit" class="btn"><b>Eliminar</b></button>
                            <button type="button" class="btn update"><a class="actualizar" asp-controller="Autor"
                                asp-action="ActualizarAutor" asp-route-id="@autor.Id"><b>Actualizar</b></a></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <br>
    <a asp-controller="Autor" asp-action="AgregarAutor"><button type="button" class="btn btnAgregar"><b>Agregar autor</b></button></a>
</body>

</html>