@using TPAnime.Core;
@model IEnumerable<Estudio>

<!DOCTYPE html>
<html>

<head>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/listas.css" asp-append-version="true" />
    <title>ListaEstudio</title>
</head>

<body>
    <h2><b>Estudios</b></h2>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="titulos">
                <th class="nombret" scope="col"><b>Nombre</b></th>
                <th class="nombret" scope="col"><b>Domicilo</b></th>
                <th class="nombret" scope="col"><b>Accion</b></th>
            </tr>
        </thead>
        <tbody>

            @foreach (Estudio estudio in Model)
            {
                <tr>
                    <td>
                        <a class="nombreLink" asp-controller="Estudio" asp-action="Index"
                        asp-route-id="@estudio.Id"><b>@estudio.Nombre</b></a>
                    </td>

                    <td>
                        <a class="nombreLink" asp-controller="Estudio" asp-action="Index"
                        asp-route-id="@estudio.Id"><b>@estudio.Domicilio</b></a>
                    </td>

                    <td>
                        <form asp-controller="Estudio" asp-action="EliminarEstudio" method="post">
                            <input type="hidden" asp-for="@estudio.Id" />
                            <button class="btn" type="submit"><b>Eliminar</b></button>
                            <button type="button" class="btn update"><a class="actualizar" asp-controller="Estudio"
                                asp-action="ActualizarEstudio" asp-route-Id="@estudio.Id"><b>Actualizar</b></a></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <br>
    <a asp-controller="Estudio" asp-action="AgregarEstudio"><button type="button" class="btn btnAgregar"><b>Agregar Estudio</b></button></a>
</body>

</html>