@using TPAnime.Core;
@model IEnumerable<Anime>
<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/listas.css" asp-append-version="true" />
    <title>Animes</title>
</head>

<body>
    <h2><b>Animes</b></h2>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="titulos">
                <th class="nombret" scope="col"><b>Nombres</b></th>
                <th class="nombret" scope="col"><b>Generos</b></th>
                <th class="nombret" scope="col"><b>Episodios</b></th>
                <th class="nombret" scope="col"><b>Lanzamiento</b></th>
                <th class="nombret" scope="col"><b>Estado</b></th>
                <th class="nombret" scope="col"><b>Estudio</b></th>
                <th class="nombret" scope="col"><b>Autor</b></th>
                <th class="nombret" scope="col"><b>Accion</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Anime anime in Model)
            {
                <tr>
                    <td>
                        <a class="nombreLink" asp-controller="Anime" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Nombre</b></a>
                    </td>
                    <td>
                        <a class="nombreLink" asp-controller="Anime" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Genero</b></a>
                    </td>
                    <td>
                        <a class="nombreLink" asp-controller="Anime" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Episodios</b></a>
                    </td>
                    <td>
                        <a class="nombreLink" asp-controller="Anime" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Lanzamiento.ToShortDateString()</b></a>
                    </td>
                    <td>
                        <a class="nombreLink" asp-controller="Anime" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Estado</b></a>
                    </td>
                    <td>
                        <a class="nombreLink" asp-controller="Estudio" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Estudio.Nombre</b></a>
                    </td>
                    <td>
                        <a class="nombreLink" asp-controller="Autor" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Autor.Nombre</b></a>
                    </td>
                    <td>
                        <form asp-controller="Anime" asp-action="EliminarAnime" method="post">
                            <input type="hidden" asp-for="@anime.Id" />
                            <button type="submit" class="btn"><b>Eliminar</b></button>
                            <button type="button" class="btn update"><a class="actualizar" asp-controller="Anime"
                                asp-action="ActualizarAnime" asp-route-id="@anime.Id"><b>Actualizar</b></a></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <br>
    <button type="button" class="btn nuevo"><a class="nuevoautor" asp-controller="Anime" asp-action="AgregarAnime"><b>Agregar anime</b></a></button>
</body>

</html>