@using TPAnime.Core;
@model IEnumerable<Anime>
<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/listas.css" asp-append-version="true" />
    <title>Animes</title>
</head>

<body>
    <h2><b>Animes</b></h2>
    <table class="table">
        <thead>
            <tr class="titulos">
                <th class="nombret" scope="col"><b>Nombres</b></th>
                <th class="nombret" scope="col"><b>Apellidos</b></th>
                <th class="nombret" scope="col"><b>Accion</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Anime anime in Model)
            {
                <tr>
                    <td>
                        <a class="nombreLink" asp-controller="Autor" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Nombre</b></a>
                    </td>
                    <td>
                        <a class="nombreLink" asp-controller="Autor" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Genero</b></a>
                    </td>
                    <td>
                        <a class="nombreLink" asp-controller="Autor" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Lanzamiento</b></a>
                    </td>
                    <td>
                        <a class="nombreLink" asp-controller="Autor" asp-action="Index" asp-route-id="@anime.Id"><b class="name">@anime.Genero</b></a>
                    </td>
                </tr>
            }
        </tbody>
</body>

</html>